<%= form_with(model: api_search, local: false) do |form| %>
  <% if api_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_search.errors.count, "error") %> prohibited this api_search from being saved:</h2>

      <ul>
      <% api_search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_input %>
    <%= form.text_field :user_input, required: true %>
  </div>

  <div class="actions">
    <%= form.submit t('search'), data: { disable_with: 'processing' } %>
  </div>
<% end %>